<mat-toolbar color="primary">
  <button color="primary" mat-mini-fab aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <h1>Mithrill Monsterbook</h1>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : 'collapsed'" [opened]="isMobile ? 'false' : 'true'" [mode]="isMobile ? 'over' : 'side'">
    <mat-nav-list>
      <a mat-list-item routerLink="/npcs" routerLinkActive="activebutton">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">NJK-k</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>